<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863359487016-7s3qa9u2pqj4tdmfn3c0t4k287kaabi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863359487016-7s3qa9u2pqj4tdmfn3c0t4k287kaabi7</string>
	<key>API_KEY</key>
	<string>AIzaSyDDfejGZE3ZLbl6KSJtUbsrhZHeETSt-lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>863359487016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-template-3e1c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-template-3e1c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863359487016:ios:23d02663ab010f360d791d</string>
</dict>
</plist>